<%= form_tag index_path,:method=>'get' do %>

  Quote <%= text_field_tag :search,params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>
<hr/>
<h3>Quotations</h3>
<ul>
  <% for quotation in @quotation %>
    <li><%= h quotation.author_name %>: <%= h quotation.quote %></li>
  <% end %>
</ul>
<br/>
<%= link_to 'back',quotation_path %>