<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>Name:</strong>-->
  <%#= @item.name %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Description:</strong>-->
  <%#= @item.description %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Category:</strong>-->
  <%#= @item.category.name %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Price:</strong>-->
  <%#= @item.price %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_category_item_path(@item) %> |-->
<%#= link_to 'Back', category_items_path %>




<div class="ui container">
  <div class="ui  segment" style="background-color: #1B1C1D;">
<!--<div class="ui divider"></div>-->
  <div class="ui two column padded grid">
    <div class="column">

      <div class="ui centered card">
<!--        <div class="image">-->
          <div class="ui medium rounded image">
            <%= image_tag(@item.image) %>
          </div>
<!--        </div>-->
        <div class="content">
          <div class="header" style="text-align: center">
            <%= @item.name %>
          </div>
        </div>
      </div>

    </div>
    <div class="column">
      <div class="ui centered card" style="text-align: center">
        <div class="header">
          <h2>Item:<%= @item.name %></h2>
          <h3>Category:<%= @item.category.name %></h3>
        </div>
        <div class="description">
          <p><span style="font-weight: bold">Description:</span>
            <%= @item.description %>
          </p>
          <div class="ui button" data-tooltip="It's price" data-position="bottom center">
            <h2><span>&#3647;</span><%= @item.price %></h2>
          </div>
        </div><br/>
        <div class="content">
          <div class="left floated " data-tooltip="Continue For Booking" data-position="bottom left">
            <div class="small ui primary button">Book</div>
          </div>
          <div class="right floated like" data-tooltip="Back for more items" data-position="bottom right">
<!--            <div class="tiny ui danger button"><h2>Back</h2></div>-->
            <h2><%= link_to 'Back', category_items_path ,class:"small ui grey button"%></h2>
          </div>
          <% if user_signed_in? && current_user.admin=="true" %>
          <div class="center floated like" data-tooltip="Back for more items" data-position="bottom right">
            <!--            <div class="tiny ui danger button"><h2>Back</h2></div>-->
            <h2><%=link_to 'Edit', edit_category_item_path(@item) ,class:"small ui red button"%></h2>
          </div>
            <%end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>