<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :image,"Image" %>
    <%= form.file_field :image ,class:"ui button"%>
  </div>
  <div class="field">
    <%#= form.label :user_id %>
    <%= form.hidden_field :user_id %>
    <%#= text_field_tag(Post,value=Post.current_user.first_name,disabled: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
