<!--<div class="ui container">-->
<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Categories</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th colspan="4"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
    <%# @categories.each do |category| %>
<!--      <tr>-->
<!--        <td><%#= category.name %></td>-->
<!--        <td>-->
          <%# if category.image.attached? %>
          <%#= image_tag(category.image,:width => 100, :height => 100) %>
          <%#end %>
<!--        </td>-->
<!--        <td><%#= link_to 'Show', category %></td>-->
<!--        <td><%#= link_to 'Edit', edit_category_path(category) %></td>-->
<!--        <td><%#= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<%#= link_to 'New Category', new_category_path %>
<!--</div>-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body id="bg">
<div class="ui container fluid" >
  <div class="ui container">
    <h1 style="color:white;font-weight: bold;text-align: center;font-family: 'Courier New';margin-top:10%">Welcome To TimeOut</h1>
    <div class="ui six column grid" id="mahesh">

      <!--    <div class="three wide column">hey</div>-->
      <!--    <div class="three wide column">hello</div>-->
      <!--    <div class="three wide column">this</div>-->
      <!--    <div class="three wide column">is mahesh</div>-->
      <!--    <div class="three wide column">this</div>-->
      <!--    <div class="three wide column">is mahesh</div>-->
      <%# if user_signed_in? && current_user.admin="true" %>
      <% if user_signed_in? && current_user.admin==true %>
        <div class="column" style="height:259.75px;width:192.5px">
          <div class="ui segment" style="height:100%;width:100%">
            <!--      <img>-->
            <%#= link_to new_category_path do %>
            <%= link_to new_category_path do %>
              <%= image_tag "avatar2/category.jpg", class: "ui medium image",style: "height:100%;width:100%" %>
              <div class="middle">
                <div class="text">Add New Categories</div>
              </div>
            <% end %>
          </div>
        </div>
      <%end %>



      <% @categories.each do |category| %>
        <div class="column" style="height:259.75px;width:192.5px" >
          <div class="ui segment" style="height:100%;width:100%">
            <!--      <img>-->
            <%#= link_to category do %>
            <%= link_to category_items_path(category) do %>
              <%#= image_tag(@category.image) %>
              <%#= image_tag(category.image, :class=> "ui medium image",style: "height:100%;width:100%")  %>
              <% if category.image.attached? %>
                <%= image_tag(category.image, :class=> "ui medium rounded image",style: "height:100%;width:100%")  %>
              <%else %>
                <%= image_tag "avatar2/coming_soon.jpg", class: "ui medium image",style: "height:100%;width:100%" %>
              <%end %>
              <div class="middle">
                <div class="text">Visit <%= category.name %></div>
              </div>
            <% end %>
          </div>

        </div>
      <%end %>



      <%# if user_signed_in? and current_user.admin==true %>
<!--        <div class="column" style="height:259.75px;width:192.5px">-->
<!--          <div class="ui segment" style="height:100%;width:100%">-->
            <!--      <img>-->
            <%#= link_to root_path do %>
              <%#= image_tag "avatar2/new_items.jpg", class: "ui medium image",style: "height:100%;width:100%" %>
<!--              <div class="middle">-->
<!--                <div class="text">Add New Items</div>-->
<!--              </div>-->
            <%# end %>
<!--          </div>-->
<!--        </div>-->
      <%#end %>
      <!--    <div class="column">hey1</div>-->
      <!--    <div class="column">hey2</div>-->
      <!--    <div class="column"></div>-->
      <!--    <div class="column"></div>-->
      <!--    <div class="column"></div>-->
      <!--    <div class="column"></div>-->
    </div>
  </div>
</div>
</body>
</html>
