<!DOCTYPE html>
<html>
  <head>

    <style>
      table{
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;

      }
      td,td {
        border: 1px solid #ddd;
        padding: 8px;
      }
      tr:nth-child(even){background-color: #f2f2f2;}

      tr:hover {background-color: #ddd;}
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: skyblue;
        color: white;
        text-align: center;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: skyblue;
        color: black;
        text-align: center;
        height: 5%;
      }

    </style>


    <title>Ps2ps2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--  <div class="ui container fluid" id="bg">-->
  <div class="ui small inverted menu">
    <div class="ui container">
      <%= render 'layouts/navigation' %>
    </div>
  </div>
<!--  <div class="ui container">-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
<!--  </div>-->
<!--  </div>-->
  </body>
</html>
